<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IA1WCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54074/A1WCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IA1WCF" contract="A1WCFNameSpace.IA1WCF"
                name="BasicHttpBinding_IA1WCF" />
        </client>
    </system.serviceModel>
</configuration>